body{
  padding: 0px;
}
.pp{
  width:10 px;
  color : tomato;
}
.navbar{
   background-color:  rosybrown;
  overflow: hidden;
}
.navbar a{
    color: aliceblue;
    font-size:20px;
    text-align: center;
   padding:30px 10px;
   float: left;
  text-decoration: none;
}
.navbar a:hover{
    background-color:blanchedalmond;
    color: black;
} 
.ch{
  text-align: center;
  color: indianred;
  font-size: x-large;
}
.am{
  float: right;
  height: 300px;
  width: 300px;
}
.form{
  border: ;
  display: flex;
 flex-direction: column;
 gap: 20px;
 align-items: center;
}
.contact{
  text-align: center;
}
.button{
  background-color:lightcoral;
  color: white;
  width: 150px;
}
h1{
  color: rosybrown;
}
.footer{
  text-align: center;
  color: tomato;
  
}
.a{
  color: tomato;
}































































































































































































































































































































































































































































































































































































































































































































































































































































































































